#attendanceLogin {
  padding-top: 10rem;

  overflow-y: scroll;
  overflow-x: hidden;

  // background-image: linear-gradient(
  //   to right,
  //   rgb(54, 126, 190),
  //   rgb(68, 128, 92)
  // );
  background-image: radial-gradient(
    at 50% 0,
    rgb(54, 126, 190),
    rgb(68, 128, 92),
    transparent 75%
  );
  display: flex;
  justify-content: center;

  .logincontainer {
    a {
      font-size: 1.4rem;
      color: rgb(0, 132, 255);
    }

    animation-name: float;
    animation-duration: 3.8s;
    animation-iteration-count: infinite;
    transition: all 3.8s;
    @include media('<=788px') {
      box-shadow: 0px 0px 26px 0px lightgray;
    }
    @include media('<=548px') {
      width: 100%;
    }

    header {
      img {
        margin-left: 50%;
        transform: translateX(-50%);
        height: 8rem;
        width: 25rem;
      }
    }
    padding: 2rem 2rem 4rem 2rem;

    width: 51rem;
    border-radius: 0.5rem;
    background-color: white;
  }
  h1 {
    margin: 1rem 0;
    color: grey;
    text-align: center;
    margin-bottom: 2rem;
  }
  .logincredintaial {
    display: flex;
    flex-direction: column;
    margin: 2rem;
    font-size: 2rem;
    text-align: left;
  }
  .logincredintaial span {
    padding: 2rem 1rem;
    font-size: 3rem;
  }
  .logincredintaial input {
    &:focus {
      border: 1px solid lightgreen;
    }
    margin-top: 1.5rem;
    font-size: 2rem;
    height: 1cm;
    border: 1px solid lightsteelblue;
    border-radius: 0.2rem;
  }
  ::placeholder {
    color: lightgray;
  }
  .loginbutton {
    display: flex;
    justify-content: center;
  }
  Button {
    transition: all ease-in-out 200ms;
    &:active {
      transition: all ease-in-out 400ms;
      transform: scale(1.2);
    }
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;

    font-size: 2rem;
    background-color: rgb(54, 126, 190);
    padding: 0.5rem 3rem;
  }
}
