.backBtn {
  background: white;
  padding: 1rem;
  font-size: 1.8rem;
  border-radius: 1.25rem;
  outline: none;
  border: 1px solid #ccc;
  margin: 1rem 3rem;
  cursor: pointer;
  z-index: 100;
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  left: 10px;

  &:hover {
    color: white;
    background: black;
  }
}
.blog__article {
  .blog_title {
    padding-top: 0rem;
    padding-bottom: 0rem;
    padding-left: 1rem;
    border-left: 5px solid #000b387a;
    margin: 2rem 0rem;
    font-size: 4rem;
    @media only screen and (max-width: 900px) {
      font-size: 3.5rem;
    }
  }
  transform: translateX(-50%);
  margin-left: 50%;
  width: 70%;
  @media only screen and (max-width: 900px) {
    width: 100%;
  }
  p {
    font-size: 2rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 3rem;
    font-size: 3.2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
}
