.dashboard_subtitle {
  font-size: 1.8rem;
  color: #6b6b6b;
  font-weight: 500;
  margin: 18px;
}

.two_col-container {
  align-items: center;
  display: flex;
  width: 100%;
  // background-color: blue;
  //? row 2nd  of dashboard
  @include media('<=1155px') {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .col {
    @include media('<=1720px') {
      width: 100%;
    }
    width: 50%;
  }
}

.chart-container {
  // background-color: red;
  height: 40rem;
  width: 40rem;
  @include media('<=500px') {
    width: 80%;
  }
}

.sales-card_container {
  width: 100%;
  padding-right: 4rem;
}

.two_col-content {
  // ?chart container div row
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  // background-color: red;

  width: 100%;
  @include media('<=1000px') {
    flex-direction: column;
  }
  .col {
    @include media('<=1720px') {
    }
    @include media('<=1000px') {
      width: 100%;
      flex-direction: column;
    }
    width: 50%;
  }
}
