#loginPage {
  .login-div {
    margin-top: 2rem;
    width: 430px;
    margin-bottom: 3rem;
    padding: 20px 40px 40px 35px;
    border-radius: 40px;
    margin-left: 50%;
    transform: translateX(-50%);
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    @include media('<=470px') {
      width: 110vw;
      border-radius: 0px;
    }
  }
  .logo {
    background: url('../img/cl.png');
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 
    /* logo shadow */ 0px 0px 2px #5f5f5f,
      /* offset */ 0px 0px 0px 5px #ecf0f3,
      /*bottom right */ 8px 8px 15px #a7aaaf,
      /* top left */ -8px -8px 15px #ffffff;
  }
  .title {
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 0.5px;
  }
  .sub-title {
    text-align: center;
    font-size: 15px;
    padding-top: 7px;
    letter-spacing: 3px;
  }
  .fields {
    width: 100%;
    padding: 15px 5px 5px 5px;
  }
  .fields input {
    border: none;
    outline: none;
    background: none;
    font-size: 18px;
    color: #555;
    padding: 20px 10px 20px 5px;
  }
  .username,
  .password {
    border: 1px solid #ededed;
    margin-bottom: 10px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1, inset -8px -8px 8px #ffffff;
  }
  .fields svg {
    height: 22px;
    margin: 0 10px -3px 25px;
  }
  .signin-button {
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 60px;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    color: #fff;
    text-align: center;
    background: #24cfaa;
    box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #ffffff;
    transition: 0.5s;
  }
  .signin-button:hover {
    background: #2fdbb6;
  }
  .signin-button:active {
    background: #1da88a;
  }
  .link {
    padding-top: 20px;
    text-align: center;
  }
  .link a {
    text-decoration: none;
    color: #aaa;
    font-size: 15px;
  }
}
