#pageNotFoundBody {
  margin-top: 20vh;
  padding-bottom: 5rem;
  text-align: center;
  color: black;
  h1 {
    font-family: Sofia_Bold;
    a {
      &:hover {
        text-decoration: underline;
      }
      color: #e01e26;
    }
    font-size: 32.6rem;
    margin: 0rem;
  }
  h2 {
    font-size: 3.6rem;
  }
  p {
    font-size: 1.6rem;
  }

  h1 {
    @include media('<=tablet') {
      font-size: 15rem;
    }
  }
  h2 {
    @include media('<=tablet') {
      font-size: 3rem;
    }
  }
}
