#routineTable {
  thead {
    tr {
      th {
        text-align: center;
        //?title box height
        padding: 2rem 0rem;
        font-size: 1.7rem;
      }
    }
  }

  tbody {
    tr {
      align-items: center;

      td {
        padding: 1rem;
        .routineInputField {
          font-size: 2.7rem;
          height: 4rem;
        }
      }
    }
  }
}
