.primary-btn {
  padding: 0.75rem 1.25rem;
  background-color: rgb(25, 25, 112);
  font-size: 2.1rem;
  color: white;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 0.95rem;
  cursor: pointer;

  &:hover {
    background-color: rgba(25, 25, 112, 0.8);
  }
}
