.nextui-user-desc {
  font-size: 1.6rem !important;
}

.nextui-user-name {
  font-size: 1.8rem !important;
}

.nextui-table-cell > span {
  font-size: 1.3rem !important;
  padding: 0.45rem 0.85rem;
}

.nextui-table-column-header {
  font-size: 1.7rem !important;
}

.table_header_title {
  font-size: 1.9rem !important;
}

#nextui-tooltip {
  font-size: 3rem !important;
}
