// ------

.sidebar::-webkit-scrollbar {
  width: 1em;
}

.sidebar::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: white;

  outline: 1px solid slategrey;
}

.sidebar::-webkit-scrollbar {
  width: 4px !important;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}

.sidebar.open {
  width: 250px;
}

.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}

.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}

.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.sidebar.open .logo-details #btn {
  text-align: right;
}

.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}

.sidebar .nav-list {
  height: 100%;
  margin: 0 !important;
}

.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}

.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}

.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}

.sidebar.open li .tooltip {
  display: none;
}

.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}

.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}

.sidebar li a:hover {
  background: #fff;
}

.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}

.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}

.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}

.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}

.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}

.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
//? primary menus
.dashboardLayout__sideMenus {
  color: white;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  padding: 0.6rem 0rem 0.6rem 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  &:hover {
    background: #fff;
    color: black;
  }
}
.sideMenus__icon {
  // distance between sidedrawer's menu's -> icons and text
  margin-right: 0.45rem;
}
//? Hamburger Container
.bx-menu,
.bx-menu-alt-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
// when opened , for bx-menu -> class switch   bx-menu-alt-right
.bx-menu-alt-right {
  #hamburger--open {
    display: none;
  }
}
.bx-menu {
  #hamburger--close {
    display: none;
  }
}

#hamburger--open {
  height: 2rem;
  width: 2rem;
}
#hamburger--close {
  height: 2.5rem;
  width: 2.5rem;
}

//? keep logout apppear in bottom right corner
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  overflow: hidden;
}
.sidebar.open li.profile {
  // width equivalent to width of sidedrawer
  width: 250px;
}

// Switch of class when sidedrawer opens & closes
.showName {
}
.hideName {
  display: none;
}
.setupDetails__menuContainer {
  .setupDetails__menuItem {
    // ? setup detail's ITEM RADIUS
    border-radius: 0.25rem;
    padding: 0.75rem 0rem 0.75rem 0.35rem !important;
  }
  .setupDetails__menuItem:hover {
    cursor: pointer;
    background-color: #1d1b31;
    color: white;
  }
}

// SETUP DETAILS CONTAINER
.changeColorToBlackOnHover {
  // ?setup detail's WHOLE CONTAINER RADIUS
  border-radius: 0.25rem;
  color: black;
  background-color: white;
  // text-align: center;
  font-size: 1.2rem;
  // transition: all ease-in-out 350ms;
  // display: flex;
  // align-items: center;
  // border-radius: 0.85rem;
  // &:hover {
  //   i {
  //     color: black; //Make the icon color black on hovering "setUpDetails"
  //   }
  //   ul {
  //     a {
  //       li {
  //         color: black; // make bio,contact,all links black on hover of "SetupDetail"
  //       }
  //     }
  //   }
  //   color: black; // make "setup detail" black on hover
  //   transition: all ease-in-out 200ms;
  //   background-color: white; // make whole bg white on hover on "SetupDetails"
  // }
}
