.teamCarousel {
  width: 100%;
}
.teamCarousel .container {
  width: 100%;
}

.teamCarousel .container {
  transform: translateX(-50%);
  margin-left: 50%;
  max-width: 950px;
  /* background-color: red; */
  overflow: hidden;
  padding: 80px 0;
}

.teamCarousel .container .main-card {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 200%;
  transition: 1s;
}

.teamCarousel #two:checked ~ .main-card {
  margin-left: -100%;
}

.teamCarousel .container .main-card .cards {
  width: calc(100% / 2 - 10px);
  display: flex;
  flex-wrap: wrap;
  margin: 0 20px;
  justify-content: space-between;
}

.teamCarousel .main-card .cards .card {
  width: calc(100% / 3 - 10px);
  background: #fff;
  border-radius: 12px;
  padding: 30px;
  cursor: pointer;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.teamCarousel .cards .card .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.teamCarousel .cards .card .content .img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  padding: 3px;
  background: #eeeeee;
  margin-bottom: 14px;
}

.teamCarousel .card .content .img img {
  height: 100%;
  width: 100%;
  border: 3px solid #ffff;
  border-radius: 50%;
  object-fit: cover;
}

.teamCarousel .card .content .name {
  font-size: 20px;
  font-weight: 500;
}

.teamCarousel .card .content .job {
  font-size: 14px;
  color: black;
}

.teamCarousel .card .content .media-icons {
  z-index: 100;
  margin-top: 10px;
  display: flex;
}

.teamCarousel .media-icons a {
  display: flex;
  padding: 0.8rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 33px;
  height: 20px;
  text-decoration: none;
  width: 20px;
  margin: 5px 5px;
  font-size: 14px;
  color: black;
  border-radius: 50%;
  border: 2px solid transparent;
  background: #eeeeee;
  transition: all 0.3s ease;
}

.teamCarousel .media-icons a:hover {
  color: black;
  background-color: #fff;
  border-color: black;
}

.teamCarousel .container .button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.teamCarousel .button label {
  height: 10px;
  width: 15px;
  border-radius: 20px;
  background: #eeeeee;
  margin: 0 4px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.teamCarousel .button label.active {
  width: 35px;
}

.teamCarousel #one:checked ~ .button .one {
  width: 35px;
}

.teamCarousel #one:checked ~ .button .two {
  width: 15px;
}

.teamCarousel #two:checked ~ .button .one {
  width: 15px;
}

.teamCarousel #two:checked ~ .button .two {
  width: 35px;
}

@media (max-width: 768px) {
  .teamCarousel .main-card .cards .card {
    margin: 20px 0 10px 0;
    width: calc(100% / 2 - 10px);
  }
}

@media (max-width: 600px) {
  .teamCarousel .main-card .cards .card {
    /* margin: 20px 0 10px 0; */
    width: 100%;
  }
}

.teamCarousel input {
  display: none;
}
