* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
:root {
  font-size: 9px;
  @include media('<=1466px') {
    font-size: 8px;
  }
  @include media('<=967px') {
    font-size: 6.5px;
  }
  @include media('<=860px') {
    font-size: 5.8px;
  }
  @include media('<=788px') {
    font-size: 10px;
  }
}
.cursor {
  cursor: pointer;
}

* {
  user-select: none;
}
html {
  overflow-x: hidden;
}
body {
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: white;
}

// !remove blue background in mobile screen
* {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-highlight: none;
}
button,
div {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-highlight: none;
}
a {
  -webkit-tap-highlight-color: transparent !important;
  -webkit-highlight: none;
}
::selection {
  background-color: transparent;
  color: transparent;
}
html {
  scroll-behavior: smooth;
}
body {
  // background-position: center;
  // background-size: cover;
  // background-image: url(../img/generalImage/backgroundI.jpg);
}

button {
  outline: none;
}
