@font-face {
  font-family: 'Sofia_Bold';
  src: url('../fonts/sofia_pro/Sofia_Pro_Bold_Az.otf') format('truetype');
}
@font-face {
  font-family: 'Sofia_Regular';
  src: url('../fonts/sofia_pro/Sofia_Pro_Regular_Az.otf') format('truetype');
}
@font-face {
  font-family: 'Sofia_SemiBold';
  src: url('../fonts/sofia_pro/Sofia_Pro_Semi_Bold_Az.otf') format('truetype');
}
@font-face {
  font-family: 'Sofia_Light';
  src: url('../fonts/sofia_pro/Sofia_Pro_Light_Az.otf') format('truetype');
}
