//poppins base
// font-family: 'Poppins', sans-serif;

.poppins_base {
  font-family: 'Poppins', sans-serif;
}

.poppins_light_100 {
  @extend .poppins_base;
  font-weight: 100;
}

.poppins_light_200 {
  @extend .poppins_base;
  font-weight: 200;
}

.poppins_light_300 {
  @extend .poppins_base;
  font-weight: 300;
}

.poppins_regular_400 {
  @extend .poppins_base;
  font-weight: 400;
}
.poppins_medium_500 {
  @extend .poppins_base;
  font-weight: 500;
}
.poppins_semibold_600 {
  @extend .poppins_base;
  font-weight: 600;
}
.poppins_bold_700 {
  @extend .poppins_base;
  font-weight: 700;
}

.poppins_bold_800 {
  @extend .poppins_base;
  font-weight: 800;
}

// Abril Fatface
.fatFace {
  font-weight: 400;
  font-family: 'Abril Fatface', cursive;
}
