// This is the single file output by sass . It is intended to ONLY @inport other files.

//?1-HELPERS
// @import '1-helpers/functions';
// @import '1-helpers/mixins';
// @import '1-helpers/variables';

//?2-TOOLS
// @import '2-tools/animate';
@import '2-tools/breakpoint';
@import '2-tools/swiper';
// @import '2-tools/flickity';
// @import '2-tools/hint';
// @import '2-tools/hover';
// @import '2-tools/normalize';

//?3-BASICS

@import '3-basics/base';
// @import '3-basics/buttons';
// @import '3-basics/customanimations';
// @import '3-basics/fonts';
@import '3-basics/global';
// @import '3-basics/links';
// @import '3-basics/responsive_mixin';
// @import '3-basics/selection-colors';
@import '3-basics/typography';

//?4-LAYOUT   SHARED BIG COMPONENTS
@import '4-layout/footer';
@import '4-layout/navbar';

//? 5-MODULES
@import '5-modules/clientCarousel';
@import '5-modules/teamCarousel';
@import '5-modules/dropDown';
// private dashboard's sidedrawer
@import '5-modules/sideDrawerDrop';
@import '5-modules/fixSideDrawer';
@import '5-modules/sideDrawer';
@import '5-modules/accordion';
@import '5-modules/timeline';
@import '5-modules/message';
@import '5-modules/tostify';
@import '5-modules/workflow';
@import '5-modules/twoRowSection';
@import '5-modules/dbTable';
@import '5-modules/button';
@import '5-modules/pureDropDown';

//? 5-PAGES
@import '6-pages/404';
@import '6-pages/firstTheme';
@import '6-pages/secondTheme';
@import '6-pages/thirdTheme';
@import '6-pages/pricingPlan';
@import '6-pages/fourthTheme';
@import '6-pages/fifthTheme';
@import '6-pages/seventhTheme';
@import '6-pages/eightTheme';
@import '6-pages/ninthTheme';
@import '6-pages/blog';
@import '6-pages/dashboardHome';

// ? NEXT Default
html,
body {
  padding: 0;
  margin: 0;
}

:root {
  font-size: 10px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// Dashboard
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}

html {
  scroll-behavior: smooth;
}
// Accordion
.nextui-collapse-title {
  font-size: 2rem;
}

.custom-img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.unset-img {
  width: 100%;
}
.unset-img > div {
  position: unset !important;
}

// +++++++++++++++++++++++++++
/* CSS */
.button-63 {
  align-items: center;
  background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #ffffff;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 19px 24px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-63:active,
.button-63:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .button-63 {
    font-size: 24px;
    min-width: 196px;
  }
}

// =================
/* CSS */
.button-69 {
  background-color: initial;
  background-image: linear-gradient(#8614f8 0, #760be0 100%);
  border-radius: 5px;
  border-style: none;
  box-shadow: rgba(245, 244, 247, 0.25) 0 1px 1px inset;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 60px;
  line-height: 60px;
  margin-left: -4px;
  outline: 0;
  text-align: center;
  transition: all 0.3s cubic-bezier(0.05, 0.03, 0.35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 190px;
}

.button-69:hover {
  opacity: 0.7;
}

@media screen and (max-width: 1000px) {
  .button-69 {
    font-size: 14px;
    height: 55px;
    line-height: 55px;
    width: 150px;
  }
}

