//****************************
//*COLOR Variable
//****************************

//*Primary
$primary_lightblue: lightblue; //*color used for toolbar
$primary_blue: blue; //*color used for toolbar
$primary_black: rgb(0, 0, 0); //*color used for toolbar
$primary_white: rgb(255, 255, 255);
$primary_wheat: rgb(245, 222, 179);
$primary_grey: rgb(128, 128, 128);

//*royal
$royal_red: rgb(224, 30, 38);
$royal_blue: rgb(0, 101, 255);
$royal_green: rgb(0, 224, 162); //ghostTag
//*Secondary
$royal_near_white: rgb(247, 249, 255);
$secondary_blue: rgb(6, 99, 246); //ghostTag
$royal_blue_peace: rgb(168, 165, 237);
//carousel background h4-of-additional-service-card
$royal_sky_peace: rgb(112, 128, 250);
$royal_sky_peace_secondary: rgb(109, 136, 255);
$royal_shadow: rgb(195, 217, 251); //carousel cell box-shadow
$royal_light_sky_peace: rgb(221, 233, 255); //carousel box-shadow
$royal_tooltip_bg: grey;
$faqColor: #10274a;
//*Tersary
